<h1> fail register</h1>
<div class="page-header">
            <h1>fail register</h1>
        </div>
        <a href="/session/register" style="text-decoration: none; color: inherit;">
            <button type="button" class="btn btn-outline-success">
                Volver a registro
            </button>
        </a>