<header class="bg-dark">
  <div class="page-header text-white p-3  ">
    <h1>Tu tienda favorita de libros</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-center fw-bolder text-white text-wrap" href="#">Azur Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/session/register">Registrarse</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/session/login">Acceder</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
<main class="bg-dark p-4  " style="height: 100%; width: 100%;">
  <div class="card p-2 mb-3 " style="max-width: 680px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://res.cloudinary.com/georgevalle/image/upload/v1690765554/tienda_ebooks/biblioteca-personal-ad_iy2rfa.jpg"
          class="img-fluid rounded-start" alt="personal-library">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-danger">Amplía</h3>
          <h5 class="card-text">Tu biblioteca con cientos de libros de afamados autores.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card p-2 mb-3 " style="max-width: 680px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://res.cloudinary.com/georgevalle/image/upload/v1690765721/tienda_ebooks/nuevos-autores-ad_bc8sg3.jpg"
          class="img-fluid rounded-start" alt="new-books">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-danger">Descubre</h3>
          <h5 class="card-text">Títulos de nuevos autores que te sorprenderan.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card p-2 mb-3 " style="max-width: 680px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://res.cloudinary.com/georgevalle/image/upload/v1690765279/tienda_ebooks/libros-puerta-ad_kgxffj.jpg"
          class="img-fluid rounded-start" alt="send-books">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-danger">Recibe</h3>
          <h5 class="card-text">Tus libros en la comodidad de tu hogar.</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="row  g-2 align-items-center" style=" height: 10rem;">
    <div class="col mt-5 bg-primary">
      <h1 class="text-white text-center">Ingresá y échale un vistazo a nuestro catálogo</h1>
    </div>
  </div>
  

</main>