<div class="container-fluid bg-light flex ">
    <h2>Bienvenido a la zona de carga</h2>
    <h2 id="userTitle">{{user}}</h2>
    {{!-- <a href="/session/logout" style="text-decoration: none; color: inherit;">
        <button type="button" class="btn btn-outline-success">Salir</button>
    </a> --}}
</div>    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-center fw-bolder text-white text-wrap" href="#">Azur Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="/session/purchase">Comprar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/session/cart">Carrito</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/session/logout">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{#if message}}
<p class="card-text text-success mx-4">{{message}}</p>
{{/if}}
<div class="container bg-light row mr-3 mt-3">
    <div class="jumbotron col-sm-4 pull-center">
        <h4>Cargar nuevo producto</h4>
        <form autocomplete="off" action="/products" method="post">
            <div class="form-group">
            </div>
            <div class="form-group">
                <label>Nombre:</label>
                <input class="form-control" required type="text" name="name">
            </div>
            <div class="form-group">
                <label>Precio:</label>
                <input class="form-control" required type="number" name="price">
            </div>
            <div class="form-group">
                <label>Stock:</label>
                <input class="form-control" required type="number" name="stock">
            </div>
            <div class="form-group">
                <label>Descripci&#243;n:</label>
                <input class="form-control" required type="text" name="description">
            </div>
            <div class="form-group">
                <label>C&#243;digo:</label>
                <input class="form-control" required type="number" name="code">
            </div>
            <div class="form-group mb-3">
                <label>Imagen:</label>
                <input class="form-control" type="text" name="thumbnail">
            </div>
            <div class="form-group mb-3">
                <label>Categor&#237;a:</label>
                <input class="form-control" type="text" name="category">
            </div>
            <input class="btn btn-primary" type="submit" class=" btn btn-primary " value="Cargar">
        </form>
    </div>   
</div> 
<hr />       
    