
<div class="container-fluid flex mx-2">
    <h2>Bienvenido a la zona de carga</h2> 
    <h2 id="userTitle">{{user}}</h2> 
    <a href="/session/logout" style="text-decoration: none; color: inherit;">
                <button type="button" class="btn btn-outline-success">Logout</button>
    </a>
</div> 
<h2>Create a product</h2>
<form id="productsForm">
    <label>Nombre:</label>
    <input name="name">
    <label>Precio:</label>
    <input name="price">
    <label>Stock:</label>
    <input name="stock">
    <label>Descripción:</label>
    <input name="description">
    <label>Código:</label>
    <input name="code">
    <label>Imagen:</label>
    <input name="thumbnail">
    <input type="submit">
</form>
<hr />
